.button-group button {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
}

.button-group button:first-child {
    marign-top: 0px;
}

.button-group button:last-child {
    margin-bottom: 5px;
}

h4 {
    margin: 7px;
}

.error {
    color: #ff6461;
}

.ok {
    color: #509000;
}